language: php

php:
  - 7.0
  - 7.1

before_script:
  - composer self-update
  - composer install --prefer-source --dev

script:
  - php vendor/bin/phpunit --colors --verbose --coverage-clover build/logs/clover.xml -c phpunit.xml

after_script: if [ $(phpenv version-name) = "7.1" ]; then php vendor/bin/ocular code-coverage:upload --format=php-clover build/logs/clover.xml; fi
