<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="./vendor/autoload.php">
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="PHP Ratelimiter Test Suite">
            <directory suffix="Test.php">./tests/</directory>
            <exclude>./tests/Throttle/Settings/AbstractWindowSettingsTest.php</exclude>
            <exclude>./tests/Throttle/Throttler/AbstractWindowThrottlerTest.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
